<link rel="stylesheet" href="VAADIN/styles/products-table.css"/>

<table id="products" class="products">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    <#list products as product>
        <tr>
            <td class="name">${product.name?capitalize}</td>
            <td>$${product.price}</td>
            <td><span location="details-button-${product.id}"></span></td>
        </tr>
    </#list>
</table>

<script>
    window.$("#products").paging({limit:9});
</script>