<table id="products" class="products", style="display: none">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    <#list products as product>
        <tr>
            <td class="name">${product.name?capitalize}</td>
            <td>$${product.price}</td>
            <td><span location="details-button-${product.id}"></span></td>
        </tr>
    </#list>
</table>

<script>
    window.$(document).ready(function () {
        var products = window.$("#products");
        products.paging({limit: 9});
        products.css("display", "");
    });
</script>