.product {
  margin: 20px;
}

.product .left {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.product .right {
  float: right;
  width: 250px;
}

.product .price {
  font-weight: bolder;
}

.product .price {
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 12px;
}

.product .name {
  font-weight: bold;
  margin-top: 12px;
}

.product .description {
  margin-bottom: 20px;
}
