.products {
  border-collapse: collapse;
  border-spacing: 0;
}

.products td {
  padding: 10px 5px;
  overflow: hidden;
  word-break: normal;
  border-top: 1px solid #c5c5c5;
}

.products th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  overflow: hidden;
  word-break: normal;
}
